<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="top.qxfly.mapper.Article.ArticleMapper">
    <!--获取文章总量-->
    <select id="getArticleCount" resultType="int">
        select count(a.id) from article a
        <if test="token != null">
            ,user_token ut
        </if>
        <where>
            <if test="token != null">
                ut.username = a.author AND ut.token = #{token}
            </if>
            <if test="searchData != '' ">
                and a.title like concat('%',#{searchData},'%')
            </if>
        </where>
    </select>
    <!--分页获取文章，可以进行搜索，如果传入token则分页获取用户文章-->
    <select id="getArticlesByPage" resultType="top.qxfly.entity.Article">
        select a.* from article a
        <if test="token != null">
            ,user_token ut
        </if>
        <where>
            <if test="token != null">
                ut.username = a.author AND ut.token = #{token}
            </if>
            <if test="searchData != '' ">
                and a.title like concat('%',#{searchData},'%')
            </if>
        </where>
        order by a.createTime desc limit #{start}, #{pageSize}
    </select>
</mapper>